.header{
  background-color: black;
  color: white;
  height: 75px;
  
}
.header h2{
  font-style: oblique;
  padding-left: 40px;
  text-align: center;
}

.header ul li{
  display: inline;
  padding: 30px;
  font-style: oblique;
  cursor: pointer;
}

.sidebar{
  padding-top: 90px;
  padding-left: 10px;
  background-color: azure;
  height: 100vh;
  border: dotted black;
}
.content{
  padding-top: 90px;
  background-color: azure;
  height: 100vh;
}
